<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wh.customcontrol"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jweihao.jdemo.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.Level3MenuActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.ColorTextActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.DragFramLayoutActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.DragSquareActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.MeasureActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.ShineTextViewActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.JToolBarActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.CustomActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.CircleProgressActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.VolumeActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.ReboundScrollActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.custom.ViewActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.layout.LayoutActivity" />
        <activity
            android:name="com.jweihao.jdemo.ui.activity.layout.NTVRActivity"
            android:theme="@style/TabLayoutActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.animation.AnimationActivity" />
        <activity android:name="com.jweihao.jdemo.ui.activity.animation.ViewAnimationActivity"></activity>
    </application>

</manifest>